<div class="container-custom">
    <div>
        <div class="d-flex justify-content-left">
            <h3>Appointments Details</h3>
        </div>
        <table class="table">
            <tr>
                <td>
                    <label for="searchInput" class="col-sm-2">Search</label>   
                </td>
                <td>
                    <div class="col-md-12">
                        <input class="form-control" type="text" name="patientName" 
                            [(ngModel)]="patientName" (ngModelChange)="search()"
                            placeholder="Enter Patient Name to search">
                    </div>
                </td>
            </tr>
        </table>
        <br />
        <!-- Data representation -->
        <div class="row" *ngIf="!authenticationDataService.isUserDoctor()">
            <table class="table">
                <thead class="table-dark">
                    <tr>
                        <th >ID</th>
                        <th (click)="sort('patientName')">Patient Name&nbsp;<i class="fa fa-sort"></i></th>
                        <th >Doctor Name</th>
                        <th >Created Date</th>
                        <th >Appointment Date</th>
                        <th >Appointment Time</th>
                        <th >Appointment Duration</th>
                        <th >Doctor Speciality</th>
                        <th >Status</th>
                        <th >Doctor Fee</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let appointment of appointments | orderBy: key: reverse| paginate: {itemsPerPage:5, currentPage:page};">
                        <td>{{appointment.id}}</td>
                        <td>{{appointment.patientName}}</td>
                        <td>{{appointment.doctorName}}</td>
                        <td>{{(appointment.createdDate != null) ? (appointment.createdDate | date: 'shortDate') : '--'}}</td>
                        <td>{{(appointment.appointmentDate != null) ? (appointment.appointmentDate | date: 'shortDate') : '--'}}</td>
                        <td>{{appointment.appointmentTime}}</td>
                        <td>{{appointment.appointmentDuration}}</td>
                        <td>{{appointment.doctorSpeciality}}</td>
                        <td>{{(appointment.status != null) ? (appointment.status) : 'Not Approved'}}</td>
                        <td>{{appointment.doctorFee}}</td>
                    </tr>
                </tbody>
            </table>
            <div class="clearfix">
                <pagination-controls (pageChange) ="page = $event"></pagination-controls>
            </div>
        </div>
        <div class="row" *ngIf="authenticationDataService.isUserDoctor()">
            <table class="table">
                <thead class="table-dark">
                    <tr>
                        <th scope="col">ID</th>
                        <th (click)="sort('patientName')">Patient Name&nbsp;<i class="fa fa-sort"></i></th>
                        <th scope="col">Symtoms</th>
                        <th scope="col">Doctor Name</th>
                        <th scope="col">Appointment Date</th>
                        <th scope="col">Appointment Time</th>
                        <th scope="col">Status</th>
                        <th scope="col">#</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let appointment of appointments | paginate: {itemsPerPage:5, currentPage:page};">
                        <td>{{appointment.id}}</td>
                        <td>{{appointment.patientName}}</td>
                        <td>{{appointment.indication}}</td>
                        <td>{{appointment.doctorName}}</td>
                        <td>{{(appointment.appointmentDate != null) ? (appointment.appointmentDate | date: 'shortDate') : '--'}}</td>
                        <td>{{appointment.appointmentTime}}</td>
                        <td>{{(appointment.status != null) ? (appointment.status) : 'Not Approved'}}</td>
                        <td><button (click)="updateAppointment(appointment.id)" class="btn btn-primary">Edit</button></td>
                        
                    </tr>
                </tbody>
            </table>
            <div class="clearfix">
                <pagination-controls (pageChange) ="page = $event"></pagination-controls>
            </div>
        </div>
        <!-- Data representation -->
    </div>

